body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

h1, h2, h3, p {
  color: white;
}

/*html {
  background: url("./Anna-Camera.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
